<template name="orderAdd">
<h3>Place order</h3>
<form class="ui form">
  <!--Quantity-->
  <div class="eight wide field" style="border: 1pt solid red">
    <label>Quantity</label>
    <select class="ui search dropdown">
      <option value="32">32</option>
      <option value="64">64</option>
      <option value="96">96</option>
      <option value="128">128</option>
    </select>
  </div>
  <!--Fish-->
  <div class="grouped fields">
    <label>Fish?</label>
    {{#each fishes}}
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" value="{{fish}}" tabindex="0" class="hidden">
          <label>{{fish}}</label>
        </div>
      </div>
    {{/each}}
  </div>
  <!--Mat-->
  <div class="grouped fields">
    <label for="mat">Mat?</label>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value="yes" name="mat" tabindex="0" class="hidden">
        <label>Yes</label>
      </div>
    </div>
    <div class="field">
      <div class="ui radio checkbox">
        <input type="radio" value="no" name="mat" tabindex="0" class="hidden" checked="checked">
        <label>No</label>
      </div>
    </div>
  </div>
  <!--Datetime picker-->
  <!--Submit-->
  <button class="ui primary button" type="submit">Submit</button>
</form>
</template>